/* @import url("https://use.typekit.net/jpa7awo.css"); */
@import url("https://use.typekit.net/chm4nch.css"); /* BRENT'S */

/* FONTS */ 
/*
font-family: expo-serif-pro, serif; 
400 normal, 400 italic, 700 normal, 700 italic

font-family: niveau-grotesk, sans-serif; 
500 normal

font-family: essonnes-text, serif; 
400 normal
*/

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

.messages__wrapper {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 50%;
    width: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.messages__wrapper > div {
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.close{font-size: 50px;}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -13px;
    right: -15px;
    color: inherit;
}
.alert{padding: 25px}

/**********global********/
body{
    font-family: expo-serif-pro, serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    border-top:5px solid #277cde;
    overflow-x: hidden;
    color: #000;
    font-size: 16px;
}
ol.breadcrumb {
    background: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    padding: 0;
}
ol.breadcrumb * {
    font-family: niveau-grotesk, sans-serif;
    font-weight: 500;
}
ol.breadcrumb ~ .block span {
    float: right;
    line-height: normal;
}
* {
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s
}
p{
	margin: 0 0 1.5em;
}
header a,
footer a{
    color: #000;
    font-family: niveau-grotesk, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: normal;
}
.main-container p a {
    font-family: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-weight: inherit;
    position: relative;
    transition: all .25s ease;
}
.main-container p a:after {
    content: "";
    background: 
    #2d80db;
    left: 0;
    right: 0;
    height: 2px;
    position: absolute;
    bottom: -4px;
    width: 100%;
    margin: 0 auto;
    transition: all .25s ease;
}
.main-container p a:hover:after {
    width: 80%;
}
.page-header {
    border: none;
}
a:focus, a:hover {
    color: #277cde;
    text-decoration: none;
}
/*nav*/
.navbar-default .navbar-nav>li>a {
    color:#000;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #52b3a6;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color:transparent;
    background:none;
}
.block-views-blockfeatured-content-home-slider-block .contextual-region,
.slide .contextual-region,
.view-search-content .contextual-region {
    position: unset;
}


.btn {
    text-transform: uppercase;
    background: #277cde;
    font-size: 12px;
    letter-spacing: 2px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    color: #fff;
    font-family: niveau-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 15px;
    
}
.btn:hover {
    background-color: #277cde;
    border-color:#277cde
}
.btn-success {
    background-color:#277cde;
    border-color: #277cde;
}
.btn-success:hover {
    background:#fff;
    border-color:#fff;
    color: #000;
}


h1, h2, h3 {
    font-family: essonnes-text, serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
}

/* SIDE MARGINS */
.footer,
.main-container,
.navbar,
.components.components--type-view-block {
    border: none;
    padding-left: 4vw;
    padding-right: 4vw;
}
.page-node-type-landing .main-container {
    padding: 0;
}
.region-content .node--type-story > .bs-region--main {
    padding: 0;
        padding-right: 0px;
        padding-left: 0px;
    padding-left: 4vw;
    padding-right: 4vw;
}
/* FULL WIDTH ITEMS */
#block-ctafooterblock {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    overflow: hidden;
}

/**********end global********/
