@import url("https://use.typekit.net/jpa7awo.css");

/**********global********/
body{
    font-family: niveau-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 0;
    border-top:5px solid #4b91e3;
}
* {
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s
}
a {
    color: #000;
}
.page-header {
    border: none;
}
a:focus, a:hover {
    color: #52b3a6;
    text-decoration: none;
}
/*nav*/
.navbar-default .navbar-nav>li>a {
    color:#000;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #52b3a6;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color:transparent;
    background:none;
}


.btn {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    color: #fff;
}
.btn:hover {
    background-color: #4b91e3;
    border-color:#4b91e3
}
.btn-success {
    background-color:#4b91e3;
    border-color: #4b91e3;
}
.btn-success:hover {
    background:#fff;
    border-color:#fff;
    color: #000;
}


h1, h2, h3 {
    font-family: essonnes-display, serif;
    font-weight: 500;
}
/**********end global********/
