
/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

/**********header********/
/*region navigation*/

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color:#277cde
}
.region-navigation-collapsible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.navbar-default {
    background:#fff;
}
header .logo img {
    max-height: 65px;
}
header {
    border-bottom: 1px solid #f5efe8;
}
header * {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}
.navbar-nav {
    margin: 0;
}
.navbar-collapse.collapse nav  {
    width: 100%;
}
.navbar-nav > li {
    border-bottom: 1px solid #f5efe8;
}
@media screen and (min-width:768px) {
    .navbar-header {
        padding-left: 20px;
    }
    #navbar-collapse {
        padding-right: 20px;
    }
    header .logo img {
        margin: 20px 0;
    }
    a.donate,
    a.donate:hover {
        background:#2d80db !important;
        border-radius: 5px;
        color: #fff !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .navbar-nav > li > a {
        line-height: 40px;
    }
    .region-navigation-collapsible {
        flex-wrap: nowrap;
    }
    .navbar-collapse.collapse {
        display: flex !important;
        align-items: center;
        flex-wrap: nowrap;
    }
    .navbar-collapse.collapse nav {
        width: auto;
    }
    .navbar-header {
        margin-right: auto !important;
    }
    header {
        display: flex;
    }
    .navbar-nav > li > a {
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-nav > li {
        margin: 0 20px;
        border: none;
    }
    header nav a {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
    }
    header nav a:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
        background: #277cde;
        height: 2px;
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    header nav a:hover:before {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    header nav .active > a:after {
        background: #277cde;
        height: 2px;
    }
    /*search trigger*/
    .search-trigger a {
        text-align: center;
        border-radius: 100%;
        color: #fff;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
    }
    .search-trigger a svg {
        margin-right: 5px;
    }

    #block-exposedformsearch-contentsearch-content {
      align-items: center;
      background: #fff;
      height: 0;
      display: flex;
      justify-content: left;
      opacity: 0;
      position: fixed;
      transition: all 0.5s;
      width: 100vw;
      will-change: transform, opacity;
      z-index: -1;
    box-shadow: 0 1px 0 0 rgba(139,141,157,.05), 0 5px 18px 0 rgba(65,71,108,.22);
    }
    #block-exposedformsearch-contentsearch-content form,
    #block-exposedformsearch-contentsearch-content form--inline .form-item
    {
        width: 100%;
    }
    #block-exposedformsearch-contentsearch-content:target {
      height: 123px !important;
      opacity: 1;
      width: 100vw !important;
      z-index: 999;
        top: 5px;
        left: 0;
    }
    #block-exposedformsearch-contentsearch-content:target .close-btn {
      display: block;
        font-size: 0;
    }
    #block-exposedformsearch-contentsearch-content:target .close-btn:before {
        content: "\e014";
        position: relative;
        top: 10px;
        color:#277cde;
        right: 10px;
        font-size: 20px;
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
    #searchbox {
      background: transparent;
      border: solid #fff;
      border-width: 0 0 1px 0;
      color: #fff;
      flex: 1 0 auto;
      font-size: 2rem;
      height: 2rem;
      max-width: 50%;
      outline: 0;
      padding: 2rem 1rem;
    }
    .close-btn {
      display: none;
      color: #fff;
      font-size: 2rem;
      position: absolute;
      top: 0.5rem;
      right: 2rem;
    }
    #block-exposedformsearch-contentsearch-content.fade {
      height: 100vh;
      width: 100vw;
      transition: opacity 0.5s;
    }

    #block-exposedformsearch-contentsearch-content label {
        display: none;
    }
    #block-exposedformsearch-contentsearch-content .form--inline {
        border-radius: none;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        background:none;
        border:none;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    #block-exposedformsearch-contentsearch-content input {
        min-width: 300px;
        width: 100%;
        color: #000;
        text-indent: 30px;
    }
    #block-exposedformsearch-contentsearch-content input,
    #block-exposedformsearch-contentsearch-content .btn {
        background:none;
        border: none;
        box-shadow: none;
        padding: 0;
    }
    #block-exposedformsearch-contentsearch-content .btn {
        font-size: 0;
        min-width: 20px;
        width: auto;
        margin-right: 30px;
    }
    #block-exposedformsearch-contentsearch-content .btn span {
        font-size: 14px;
    }
    #block-exposedformsearch-contentsearch-content .form--inline:before {
            content: "\e003";
            position: relative;
            top: 1px;
            color:666;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
    }
    .toolbar-tray-open.toolbar-horizontal #block-exposedformsearch-contentsearch-content:target {
        top:81px;
    }
     .toolbar-tray-open.toolbar-vertical #block-exposedformsearch-contentsearch-content:target,
    .toolbar-horizontal #block-exposedformsearch-contentsearch-content:target {
        top:42px;
    }
}



/*mobile*/
.navbar-toggle {
    border: none;
    margin-top: 20px;
    margin-bottom: 25px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #277cde;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background:none;
    color: #000;
}
@media screen and (max-width:768px) {
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color:#f5efe8;
    color: #000;
    }
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle {
    background-color: #fff;
}
@media screen and (max-width:960px) {
    .navbar-nav > li {
        margin: 0 10px;
    }
}
@media screen and (max-width:850px) {
    .search-trigger a span {
        display: none;
    }
}
@media screen and (max-width:768px) {
    #block-exposedformsearch-contentsearch-content {
        width: 100%;
        padding: 15px 25px;
    }
    #block-exposedformsearch-contentsearch-content form .form-item {
        width:100%;
    }
    .search-trigger {
        display: none;
    }
}
.path-node .region-header {
    display: flex;
    justify-content: space-between;
}
.region-header .field--name-field-back-link a,
.region-header .btn {
    background: none;
    border: none;
    color: #000;
}
.region-header .field--name-field-back-link a:before {
    font-family: fontAwesome;
    content: '\f104';
    display: inline-block;   
}
.region-header .addtoany_list.a2a_kit_size_32 > a img {
    display: none;
}
.region-header .addtoany_list.a2a_kit_size_32 > a {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    color: #000;
    font-weight: 500;
}
.region-header .addtoany_list.a2a_kit_size_32 > a:before {
    content: 'SHARE';
}
.region-header .addtoany_list.a2a_kit_size_32 > a:after {
    font-family: fontAwesome;
    content: '\f064';
    display: inline-block;
}
