@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
/*top bar share link*/
.main-container {
    position: relative;
}
.page-node-type-story .region-header {
    padding-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
    background:#f5efe8;
}
.page-node-type-story .region-header section {
    padding: 0 50px;
}
.page-node-type-story .main-container {
    padding: 0;
}
.page-node-type-story .main-container > .row {
    margin: 0;
}
.region-content-top {
    clear: both;
}
.page-node-type-story .region-content-top {
    clear: both;
    background:#f5efe8;
    margin-bottom: 40px;
}
h1.page-header {
    text-align: center;
}

/*story page*/
.page-node-type-story .view-header-view .views-row {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.page-node-type-story .field--name-field-paragraphs > .field--item:first-child > .paragraph--type-text-only p:first-child:first-letter{
	font-size: 60px;
	font-family: essonnes-text, serif; 
	font-weight: 400;
	float: left;
	position: relative;
	padding: 10px 2px 0 0;
	color: #2d80db;
}
.page-node-type-story .view-header-view .views-row div {
}
.page-node-type-story .storylabel {
    font-family: niveau-grotesk, sans-serif;
    position: absolute;
    top: 0;
    background: #e4e1dd;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
}
.author-info .field--label {
    font-weight: 400;
}
.view-header-view .author-info {
    text-align: center;
    display: inline-block;
    position: relative;
}
.view-header-view .author-info img,
.author-info .field--name-field-author-pic,
.view-header-view .author-info .field--name-field-full-name {
    display: inline-block;
}
.author-info div {
    display: inline;
    vertical-align: middle;
}
.author-info .field--name-field-author-link a {
    position: absolute;
    text-indent: -9999px;
    font-size: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.field--name-field-body {
    font-size: 20px;
    line-height: 1.5;
}
.main-container .field--name-field-body p a:after{
	bottom: -1px;
}
.callout .field--name-field-body {
    font-size: 30px;
}
.page-node-type-story .region-content-bottom .bs-region {
    padding: 0;
}
.page-node-type-story .region-content-bottom .row {
    margin: 0;
}
.page-node-type-story .region-content-bottom > section{
	margin-left: -15px;
	margin-right: -15px;
}
@media screen and (max-width:590px) {
    .page-node-type-story .storylabel {
        position: relative;
        background: none;
        top: auto;
    }
    .page-node-type-story .view-header-view .views-field-title {
        order: 2;
    }
    .page-node-type-story .view-header-view .views-field-field-author-info {
        order: 1;
    }
    .page-node-type-story .view-header-view .views-field-nothing {
        order: 3;
    }
    .page-node-type-story .view-header-view .views-field-field-media-image {
        order: 4;
    }
}
.page-node-type-story .view-header-view .views-field-title a {

}
.page-node-type-story .view-header-view .views-field-title {
    margin: 30px 0;
    padding: 0 15px;
    font-size: 34px;
    font-family: essonnes-text, serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}
.page-node-type-story .view-header-view .views-field-title:after {
    content: '';
    background: #277cde;
    height: 2px;
    width: 80px;
    margin: 10px auto 0;
    display: block;
}
.page-node-type-story .view-header-view .views-field-field-media-image {
    position: relative;
    margin-top: 50px;
}
.page-node-type-story .view-header-view .views-field-field-media-image:before {
    background: url(/themes/custom/bot_custom/images/symbol-black.png) no-repeat;
    width: 52px;
    content: '';
    height: 66px;
    background-size: 100%;
    position: absolute;
    top: -31px;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
}
.page-node-type-story .region-content .field--name-field-tell-your-story {
    margin: 50px 0;
}

/*end story page*/

.first-level-menu h2 {
    display: none;
}
.first-level-menu + nav {
    display: none;
}

/*resources listing page*/

/*heading and filters*/
.path-search .region-header h1 {
    text-align: center;
    margin-bottom: 50px;
}
/* 
.path-search .region-content-top {
    display: flex;
    clear: both;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    max-width: 1150px;
    margin: 0 auto;
}
 */
 .path-search .region-content-top {
    display: block;
    clear: both;
    max-width: 1150px;
    margin: 0 auto;
    text-align: center;
}
.path-search .region-content-top > section {
    display: inline-block;
    vertical-align: top;
}
.block-facets .control-label {
    display: none;
}
.path-search .region-content-top .block-views,
.path-search .region-content-top .block-facets {
	width: auto;
    display: inline-block;
    min-width: 200px;
    text-align: left;

} 
.path-search .region-content-top .block-views form,
.path-search .region-content-top .block-facets .form-item {
    margin: 0 3px;
}
.path-search .region-content-top .block-views .form--inline,
.path-search .region-content-top .block-facets .select-wrapper,
.path-search .region-content-top .block-facets .select2-container {
    background:#f5efe8;
    line-height: 40px;
    border-radius: 5px;
    width: 100%;
}
.path-search .region-content-top .block-facet-blockcategory .form-item,
.path-search .region-content-top .block-facet-blockage .select-wrapper {
    background:#f5efe8;
    line-height: 40px;
    border-radius: 5px;
    width: 100%;
}
.block-facets + .reset .block-content--type-button-block .field--name-field-tell-your-story svg {
    display: none;
}
.block-facets + .reset .block-content--type-button-block .field--name-field-tell-your-story .btn:after {
    width: auto;
    left: 30px;
    right: 30px;
}
.block-facets + .reset .block-content--type-button-block .field--name-field-tell-your-story .btn{
	font-size: 16px;
}
.path-search .region-content-teop .block-views .form-inline .form-control {
    width: 100%;
}
@media screen and (min-width:768px) {
    .path-search .region-content-top .block-views .form--inline,
    .path-search .region-content-top .block-facets .select-wrapper,
    .path-search .region-content-top .block-facets .select2-container {
        line-height: 80px;
    }
}
.path-search .region-content-top .form-control,
.path-search .region-content-top .select2-container--default .select2-selection--single,
.path-search .region-content-top .select2-container--default .select2-selection--multiple {
    background: none;
    border: none;
    text-transform: uppercase;
    box-shadow: none;
    font-family: niveau-grotesk, sans-serif;
    font-weight: 500;
}
.path-search .region-content-top .block-facets-summary {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.path-search .region-content-top .block-facets-summary ul:not(.contextual-links) {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center; 
}
.path-search .region-content-top .block-facets-summary ul li {
    padding: 0 15px;
}
.path-search .region-content-top .block-facets-summary ul li a {
    display: flex;
    align-items: center;
}
.path-search .region-content-top .block-facets-summary ul li a .facet-item__value {
    order: 1;
}
.path-search .region-content-top .block-facets-summary ul li a .js-facet-deactivate {
    order: 2;
    font-size: 0;
}
.path-search .region-content-top .block-facets-summary ul li a .js-facet-deactivate:before {
    font-family: fontAwesome;
    content:'\f00d';
    font-size: 24px;
    color:#277cde;
    margin-left: 10px;
}
.path-search .region-content-top .block-views .form--inline .form-item {
    display: flex;
    flex-wrap: nowrap;
}
.path-search .region-content-top .block-views .control-label {
    font-size: 0;
    line-height: normal;
}
.path-search .region-content-top .block-views .control-label:after {
    font-family: fontAwesome;
    font-size: 22px;
    content:'\f002';
    color: #000;
}
.view-display-id-search_resources .view-header{
    display: none;
}
.view-display-id-search_resources .form-group,
.view-related-views .view-content {
    display: flex;
    flex-wrap: wrap;
}
.view-display-id-search_resources .form-group .views-row,
.view-related-views .view-content .views-row {
    width: 100%;
    margin-bottom: 10px;
}
@media screen and (min-width:590px) {
    .view-display-id-search_resources .form-group .views-row,
    .view-related-views .view-content .views-row {
        width: 50%;
    }
}
@media screen and (min-width:1024px) {
    .view-display-id-search_resources .form-group .views-row,
    .view-related-views .view-content .views-row {
        width: 33.33333%;
    }
}
.view-display-id-search_resources .form-group .views-row .row,
.view-related-views .view-content .views-row .row {
    margin: 0;
    width: 100%;
    height: 100%;
    
}
.view-display-id-search_resources .bs-region--main > .link-whole-area,
.background-wrapper,
.view-related-views .link-whole-area  {
    background:#f5efe8;
}
.view-display-id-latest_news_block .node--view-mode-text-tile .link-whole-area {
    width: 100%;
}
.background-wrapper {
    width: 100%;
}
.background-wrapper a ~ .field,
.view-display-id-latest_resources_block .background-wrapper .field--name-node-title,
.view-display-id-latest_resources_block .background-wrapper .field--name-field-category {
    padding-left: 30px;
    padding-right: 30px;
}
.view-display-id-latest_news_block .background-wrapper {
    padding: 30px;
}
.view-related-views h2 {
    color: initial;
    font-size: 28px;
}
.background-wrapper a ~ .field--name-field-category,
.view-display-id-latest_resources_block .background-wrapper .field--name-field-category {
    padding-top: 30px;
}
.background-wrapper .field--name-node-title {
    text-transform: none;
}
.background-wrapper a ~ .field--name-node-title,
.view-display-id-latest_resources_block .background-wrapper .field--name-node-title {
    padding-bottom: 30px;
    text-transform: none;
}
.view-display-id-search_resources .form-group .views-row .row .bs-region--main,
.view-related-views .view-content .views-row .row .bs-region--main {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 5px;
}
.view-display-id-search_resources .field--name-bundle-fieldnode,
.view-related-views .field--name-bundle-fieldnode {
    background:#277cde;
    transform: rotate(-270deg);
    position: absolute;
    z-index: 800;
    top: 58px;
    padding: 5px 10px;
    width: 145px;
    text-align: left;
    left: -52px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 500;
    font-family: niveau-grotesk, sans-serif;
    font-size: 14px;
}
.view-display-id-search_resources .node--type-story .field--name-bundle-fieldnode,
.view-related-views .node--type-story .field--name-bundle-fieldnode {
    background:#b253e2;
}
.view-display-id-search_resources .node--type-article .field--name-bundle-fieldnode,
.view-related-views .node--type-article .field--name-bundle-fieldnode {
    background:#43b474;
}
.view-display-id-search_resources .field--name-field-category,
.view-related-views .field--name-field-category {
    display: flex;
} 
.view-display-id-search_resources .field--name-field-category:before,
.view-related-views .field--name-field-category:before {
    content: '\f02c';
    font-family: fontAwesome;
    display: block;
}
.view-display-id-search_resources .field--name-field-category .field--item:first-of-type,
.view-related-views .field--name-field-category .field--item:first-of-type {
    padding-left: 5px;
}
.view-display-id-search_resources .node--type-story .field--name-field-category:before,
.view-related-views .node--type-story .field--name-field-category:before {
    color:#b253e2;
}
.view-display-id-search_resources .node--type-article .field--name-field-category:before,
.view-related-views .node--type-article .field--name-field-category:before {
    color:#43b474;
}
.view-display-id-search_resources img,
.view-related-views img {
    width: 100%;
    object-fit: cover;
}


/*stories listing slider and home stories slider*/
.slick--optionset--stories-slider .slick__slide .node--view-mode-featured > .bs-region--main,
.block-views-blockfeatured-content-home-slider-block .slick__slide .node--view-mode-home-featured > .bs-region--main {
    display: flex;
    align-items: flex-end;
    justify-content: start;
    min-height: 400px;
    height: 500px;
    width: 100%;
    position: relative;
    overflow:hidden;
}
.slick--optionset--stories-slider .slick__slide .node--view-mode-featured > .bs-region--main:after,
.block-views-blockfeatured-content-home-slider-block .field--name-field-media-image:after,
.text-overlay:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.91+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e8000000',GradientType=0 ); /* IE6-9 */

    display: block;
    z-index: 100;
    position: absolute;
    transition: all .5s ease;
}


.slick--optionset--stories-slider .slick__slide .media,
.slick--optionset--home-carousel .slick__slide .media {
    position: unset;
}
.slick--optionset--stories-slider .slick__slide .node--view-mode-featured img,
.slick--optionset--home-carousel .slick__slide .node--view-mode-home-featured img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: all .5s ease;
}
.slick--optionset--stories-slider .slick__slide .node--view-mode-featured > .bs-region--main:hover img,
.slick--optionset--home-carousel .slick__slide .node--view-mode-home-featured > .bs-region--main:hover img {
    transform: scale(1.1);
}
.slick--optionset--stories-slider .slick__slide .text-wrapper-slider,
.slick--optionset--home-carousel .slick__slide .text-wrapper-slider {
    padding: 50px 30px;
    z-index: 200;
    position: relative;
}
.slick--optionset--stories-slider .slick__slide .text-wrapper-slider > a.link-whole-area,
.slick--optionset--home-carousel .slick__slide .text-wrapper-slider > a.link-whole-area {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}
.slick--optionset--stories-slider .slick__slide .text-wrapper-slider img,
.slick--optionset--home-carousel .slick__slide .text-wrapper-slider img {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}
.block-views-blockfeatured-content-home-slider-block .slick-slide {
    border-right: 3px solid #fff;
}
.slick--optionset--stories-slider .slick-slide .row,
.block-views-blockfeatured-content-home-slider-block .slick-slide .row {
    margin: 0;
}
.text-wrapper-slider .author-info .bs-region--main {
    display: flex;
    padding: 0;
}
.text-wrapper-slider .author-info .field--name-field-author-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.text-wrapper-slider .author-info * {
    color: #fff;
    font-family: expo-serif-pro, serif;
}
.text-wrapper-slider .author-info .bs-region--main > div {
    min-width: 1px !important;
}

.text-wrapper-slider .author-info .field--name-field-author-link a {
    font-size: 0;
    display: block;
    width: 100%;
    height: 100%;
}
.text-wrapper-slider h2 {
    color: #fff;
    display: inline;
}
.text-wrapper-slider h2:after {
    content: '';
    height: 2px;
    background: #277cde;
    width: 20px;
    display: block;
    margin: 10px 0;
    transition: all .5s ease;
}
.text-wrapper-slider .field--name-node-title {
    position: relative;
}
.text-wrapper-slider .field--name-node-title:after {
    content: 'FEATURED STORY';
    color: #fff;
    font-family: niveau-grotesk, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: normal;
    display: block;
}
.slick--optionset--stories-slider .slick__arrow .slick-next,
.block-views-blockfeatured-content-home-slider-block .slick__arrow .slick-next {
    float:right;
}
.slick--optionset--stories-slider .slick__arrow button,
.block-views-blockfeatured-content-home-slider-block .slick__arrow button {
        background: none;
        border: none;
        font-size: 40px;
        color: #277cde;
}
@media screen and (min-width:600px) {
    .slick--optionset--stories-slider .slick__arrow,
    .block-views-blockfeatured-content-home-slider-block .slick__arrow {
        position: absolute;
        width: auto;
        top: 0;
        right: 0;
        padding-right: 20px;
        padding-top: 20px;
    }
    .slick--optionset--stories-slider .slick__arrow button,
    .block-views-blockfeatured-content-home-slider-block .slick__arrow button {
        color: #fff;
    }
    .slick--optionset--stories-slider .slick__arrow button div:after,
    .block-views-blockfeatured-content-home-slider-block .slick__arrow button div:after {
        background:#277cde;
        width: 30px;
        height: 30px;
        content: '';
        border-radius: 100%;
        position: absolute;
        top: 10px;
        left: 5px;
    }
    .slick--optionset--stories-slider .slick__arrow button div,
    .block-views-blockfeatured-content-home-slider-block .slick__arrow button div {
        position: relative;
    }
    .slick--optionset--stories-slider .slick__arrow button div svg,
    .block-views-blockfeatured-content-home-slider-block .slick__arrow button div svg {
        position: relative;
        z-index: 99;
    }
}




/*author circle*/
.author-info img {
    border-radius: 100%;
    width: 30px !important;
    height: auto !important;
    margin-right: 10px;
}
.author-info .field--name-field-full-name,
.author-info .field--name-field-full-name {
    display: flex;
    align-items: center;
}


/*intro mission*/
.block-content--type-split-screen-header-block {
    background:#f5efe8;
    border-bottom: 4px solid #fff;
    display: flex;
    align-items: center;
}
.block-content--type-split-screen-header-block .bs-region--left:after {
    background:rgba(39,124,222,0.75);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.block-content--type-split-screen-header-block .bs-region--left {
    padding: 0;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 300px;
}
.block-content--type-split-screen-header-block .text-wrapper {
    padding: 50px;
    position: relative;
    z-index: 200;
    width: 100%;
}
.block-content--type-split-screen-header-block .text-wrapper h1 {
    color: #fff;
    text-align: left;
}
.block-content--type-split-screen-header-block .bs-region--left img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.block-content--type-split-screen-header-block .select2-container--default .select2-selection--single {
    background:#f5efe8;
    border:none;
    height: 65px;
}
.block-content--type-split-screen-header-block .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 65px;
    padding-left: 65px;
}
.block-content--type-split-screen-header-block .select2-container--default .select2-selection--single .select2-selection__rendered:before {
    font-family: fontAwesome;
    content: '\f059';
    font-size: 45px;
    position: absolute;
    color:#277cde;
    left: 20px;
}
.field--name-dynamic-block-fieldblock-content-ds-facet-dropdown label {
    display: none;
}
.block-content--type-split-screen-header-block .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}
.block-content--type-split-screen-header-block .bs-region--right {
    padding: 0 50px;
    line-height: 2.5;
}

@media screen and (min-width:960px){
	.block-content--type-split-screen-header-block .bs-region--right {
		font-size: 18px;
	}
}

.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-dropdown {
    color: #000;
    font-family: niveau-grotesk, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: normal;
}
.select-wrapper:after {
    content: '\f0d7' !important;
    font-size: 20px;
    right: 20px;
    font-family: fontAwesome !important;
    color: #000;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color:#277cde;
}
.block-content--type-split-screen-header-block .select2-dropdown {
    margin-top: -6px;
    background:#f5efe8;
}
.select2-container--default * {
    color: #000;
    font-family: niveau-grotesk, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: normal;
}
.block-content--type-split-screen-header-block .field--name-field-right-side-link {
    margin-top: 40px;
}
.block-content--type-split-screen-header-block .field--name-field-right-side-link a {
    position: relative;
    display: inline;
}
.block-content--type-split-screen-header-block .field--name-field-right-side-link a:after {
    height: 2px;
    width: 100%;
    background:#277cde;
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
}
.block-content--type-split-screen-header-block .contextual-region,
.block-content--type-split-screen-header-block .media {
    position: unset;
}
@media screen and (max-width:900px) {
    .block-content--type-split-screen-header-block .bs-region--left,
    .block-content--type-split-screen-header-block .bs-region--right {
        width:100%;
    }
    .block-content--type-split-screen-header-block {
        flex-wrap: wrap;
    }
    .block-content--type-split-screen-header-block .bs-region--right {
        padding: 50px;
    }
}

/*stories slider homepage*/
@media screen and (min-width:768px) {
    .block-views-blockfeatured-content-home-slider-block .slick-list {
        padding: 0 15% 0 0 !important;
    }
}

.block-views-blockfeatured-content-home-slider-block {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.block-views-blockfeatured-content-home-slider-block h2.block-title {
    position: absolute;
    z-index: 99;
    padding-top: 50px;
    padding-left: 50px;
    color: #fff;
}

/*stories listing page*/
.view-display-id-search_stories {
    padding-top: 10px;
}
.view-display-id-search_stories .view-header {
    display: none;
}
.text-wrapper-slider h2:after {
    content: '';
    height: 2px;
    background: #277cde;
    width: 20px;
    display: block;
    margin: 10px 0;
}




.view-display-id-search_stories .view-content ul li .grid__content {
    padding: 0 15px;
}
.view-display-id-search_stories .view-content ul li .grid__content a.link-whole-area {
    overflow:hidden;
    display: flex;
    text-transform: none;
    align-items: flex-end;
    justify-content: start;
    min-height: 500px;
    position: relative;
}
.view-display-id-search_stories .view-content ul li .grid__content .bs-region--main {
    padding: 0;
}
.view-display-id-search_stories .view-content ul li .grid__content .bs-region--main:after {
    content: "";
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.91+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.91) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.91) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.91) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e8000000',GradientType=0 ); /* IE6-9 */

    display: block;
    z-index: 300;
    position: absolute;
    transition: all .5s ease; 
}
.view-display-id-search_stories .text-wrapper-slider {
    position: relative;
    z-index: 400;
    padding: 20px 20px 40px;
}
.view-display-id-search_stories .text-wrapper-slider h2 {
    font-size: 24px;
}
.view-display-id-search_stories .text-wrapper-slider .field--name-node-title:after {
    display: none;
    content: '';
}
.view-display-id-search_stories .view-content ul li .grid__content img {
    position: absolute;
    transition: all .5s ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.view-display-id-search_stories .view-content ul li .grid__content a.link-whole-area:hover img {
    transform: scale(1.1);
}

.view-display-id-search_stories .view-content ul li .grid__content:hover .text-wrapper-slider h2:after,
.slick--optionset--stories-slider .slick__slide .node--view-mode-featured > .bs-region--main:hover .text-wrapper-slider h2:after,
.slick--optionset--home-carousel .slick__slide .node--view-mode-home-featured > .bs-region--main:hover .text-wrapper-slider h2:after  {
  width: 100%;
  opacity: 1;
}


/*paragraph styles*/
.path-node .region-content .field--name-field-video,
.path-node .region-content .field--name-field-audio,
.path-node .region-content .paragraph--type-wysiwyg-layouts,
.path-node .region-content .field--name-field-audio-text,
.path-node .region-content .narrow.paragraph,
.path-node .region-content .paragraph--type-image-grid
{
    max-width: 840px;
    margin: 0 auto 30px;
    float: none;
}
.path-node .region-content .wide.paragraph--type--standalone-image-paragraph {
    width: 100vw;
    padding: 0;
    position: relative;
    left: 50%;
    margin: 0 0 0 -50vw;
}
.path-node .region-content .field--name-field-media-view-mode {
    display: none;
}
.path-node .region-content .paragraph {
    margin: 0 auto 30px;
}
.path-node .region-content .narrow.paragraph,
.path-node .region-content .field--name-field-video,
.path-node .region-content .field--name-field-audio,
.path-node .region-content .field--name-field-audio-text {
    padding: 0 15px;
    padding: 0;
}
.path-node .region-content .narrow.paragraph img,
.path-node .region-content .paragraph--type-image-grid .field--name-field-image .field--item img {
    width: 100%;
    object-fit: cover;
}
.path-node .region-content .field--name-field-caption {
    text-align: right;
    opacity: .6;
    padding: 15px;
    font-size: 14px;
}
.path-node .region-content .paragraph--type-image-grid .field--name-field-image {
    display: flex;
    flex-wrap: wrap;
}

.path-node .region-content .paragraph--type-image-grid .field--name-field-image > .field--item {
    width: 33.3333%;
    margin-bottom: 30px;
}
@media screen and (max-width:768px) {
    .path-node .region-content .paragraph--type-image-grid .field--name-field-image > .field--item {
        width: 50%;
    } 
}
@media screen and (max-width:599px) {
    .path-node .region-content .paragraph--type-image-grid .field--name-field-image > .field--item {
        width: 100%;
    } 
}
.path-node .region-content .paragraph--type-image-grid .field--name-field-image .field--item img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}
.path-node .region-content .field--name-field-audio-text {
    text-align: center;
    font-family: niveau-grotesk, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: normal;
}
.path-node .region-content .field--name-field-audio audio {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.region-content .field--name-field-video .field--name-field-media-oembed-video {
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
}
.region-content .field--name-field-video .field--name-field-media-oembed-video iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.media-wrapper {
    position: relative;
}
.text-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 4vw;
    color: #fff;
    z-index: 200;
}
.text-overlay .field {
    font-size: 30px;
    max-width: 740px;
    z-index: 200;
    position: relative;
}
@media screen and (max-width:767px){
	.text-overlay {
		position: relative;
		color: initial;
		background-color: #f5efe8;
	}
	.text-overlay::before{
		display: none;
	}
	.text-overlay .field {
		font-size: 20px;
	}
}


/*paragraph - image floats*/
@media screen and (min-width:768px) {
    .paragraph--view-mode-image-50-left .image-with-caption {
        width: 50%;
        float: left;
        padding-bottom: 10px;
        padding-right: 20px;
    }
    .paragraph--view-mode-image-50-right .image-with-caption {
        width: 50%;
        float: right;
        padding-bottom: 10px;
        padding-left: 20px;
    }
    .paragraph--view-mode-image-25-left .image-with-caption {
        width: 25%;
        float: left;
        padding-bottom: 10px;
        padding-right: 20px;
    }
    .paragraph--view-mode-image-25-right .image-with-caption {
        width: 25%;
        float: right;
        padding-bottom: 10px;
        padding-left: 20px;
    }
}

/*paragraph headings*/
.paragraph h2,
.paragraph h3,
.paragraph h4,
.paragraph h5,
.paragraph h6 {
    font-family: expo-serif-pro, serif;
    font-weight: 500;
    font-style: normal;
}
.paragraph h2 {
    color:#277cde;
}

/*callout*/
.callout.paragraph {
    font-size:30px;
    position: relative;
}
.callout.paragraph .field--name-field-body:after {
    height: 2px;
    width: 50px;
    display: block;
    background:#277cde;
    content: '';
    margin-top: 15px;
}
.path-node .region-content .narrow.paragraph.callout, 
.path-node .region-content .wide.paragraph.callout {
    max-width: 940px;
    padding: 0;
    margin: 0 auto 30px;
    left: auto;
}

/* Default Table Style */
table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
  display: block;
  outline: none;
  border: none;
  overflow-x: auto;
 
}
table thead th,
table tfoot th {
  background: rgba(0,0,0,.1);
}
table caption {
  padding:.5em;
}
table th,
table td {
  padding: .5em;
  border: 1px solid lightgrey;
}
/* Zebra Table Style */
tbody tr:nth-of-type(odd) {
  background: rgba(0,0,0,.05);
}
tbody tr:nth-of-type(odd) {
  background: rgba(255,255,255,.05);
}

/*mission component*/

.components--type-text-with-image-background .bs-region--main {
    padding: 0;
}

@media screen and (max-width:768px) {
    .components--type-text-with-image-background .bs-region--main .field--name-field-media-image {
        position: relative;
        z-index: 9;
    }
    .components--type-text-with-image-background .bs-region--main .field--name-field-media-image:after {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.3);
        display: block;
        z-index: 100;
        position: absolute;
        transition: all .5s ease;
    }
    .text-wrapper-mission {
        position: relative;
        z-index: 99;
        margin-top: -105px;
    }
    .text-wrapper-mission .field--name-field-display-title {
        color: #fff;
    }
}



.text-wrapper-mission .field--name-field-display-title {
    font-size: 36px;
    text-align: center;
    font-family: essonnes-text, serif;
    font-weight: 400;
    margin-bottom: 20px;
    font-style: normal;
}
.components--type-text-with-image-background {
    margin: 0;
}

.text-wrapper-mission .field--name-field-sub-title {
    color: #000;
    font-family: niveau-grotesk, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: normal;
    text-align: center;
}
@media screen and (min-width:768px) {
    .components--type-text-with-image-background .bs-region--main:after {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255,255,255,0.3);
        display: block;
        z-index: 100;
        position: absolute;
        transition: all .5s ease;
    }
    .components--type-text-with-image-background .bs-region--main {
        padding: 0;
        overflow:hidden;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-height: 600px;
    }
    .components--type-text-with-image-background .text-wrapper-mission {
        padding: 50px 30px;
        position: relative;
        z-index: 200;
        text-align: left;
    }
    .components--type-text-with-image-background .field--name-field-media-image img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    .text-wrapper-mission .field--name-field-body {
        margin: 50px auto;
        max-width: 470px;
    }
    .components--type-text-with-image-background .text-wrapper-mission {
        max-width: 700px;
        margin-right: 50px;
    }
    .text-wrapper-mission .field--name-field-single-link {
        max-width: 470px;
        margin: 0 auto;
    }
}

.components--type-text-with-image-background .contextual-region,
.components--type-text-with-image-background .media {
    position: unset;
}

/*get informed section*/
.components {
    margin-bottom: 4vw;
    margin-top: 4vw;
}
.components--type-view-block .bs-region--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.components--type-view-block .bs-region--top .field--name-title {
    font-size: 26px;
    font-family: essonnes-text, serif;
    font-weight: 400;
}

.block-content--type-button-block .field--name-field-real-stories .btn,
.btn-default,
.components--type-view-block .field--name-field-single-button a {
    background: #277cde;
    border-color: #277cde;
    color: #fff;
    padding: 25px 30px;
    border: none;
}
.block-content--type-button-block .field--name-field-real-stories .btn:hover,
.components--type-view-block .field--name-field-single-button a:hover,
.btn-default:hover{
	background: #0d60bb;
}
@media screen and (min-width:768px){
	.components--type-view-block .bs-region--top .field--name-title {
		font-size: 36px;
	}
}


/*news listing*/
.view-display-id-news_page {
    max-width: 850px;
    margin: 0 auto;
}
.view-display-id-news_page .view-header {
    display: none;
}
.view-display-id-news_page .views-row {
    background:#f5efe8;
    margin-bottom: 10px;
}
.view-display-id-news_page .link-whole-area {
    text-transform: none;
    letter-spacing: 0;
}
.view-display-id-news_page .node--type-article {
    padding: 30px;
}
.view-display-id-news_page .field--name-node-post-date {
    font-size: 12px;
    letter-spacing: 2px;
}
.view-display-id-news_page .field--name-node-post-date:after {
    background: #277cde;
    height: 2px;
    width: 25px;
    position: relative;
    display: block;
    content: '';
    margin: 10px 0 20px;
}
.view-display-id-news_page h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
.view-display-id-news_page img {
    max-width: 110px;
}
.view-display-id-news_page .field--name-body p,
.view-display-id-news_page .field--name-body * {
    font-family: expo-serif-pro, serif;
}
.view-id-featured_content .node--view-mode-featured {
    max-width: 1150px;
    margin: 30px auto;
}
.view-id-featured_content .node--view-mode-featured .bs-region--main {
    width: 100%;
  color: #fff;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 500px;
}
.view-id-featured_content .node--view-mode-featured .bs-region--main:after {
 content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.08);
    display: block;
    z-index: 100;
  position: absolute;
  transition: all .5s ease;   
}
.region-header h1,
.region-content h1 {
    text-align: center;
}
.view-id-featured_content .contextual-region {
    position: unset;
}

.view-id-featured_content .node--view-mode-featured .text-wrapper {
    padding: 50px 0;
    width: 50%;
    position: relative;
    z-index: 200;
    text-align: center;
    margin: 0 auto;
}
@media screen and (max-width:620px) {
    .view-id-featured_content .node--view-mode-featured .text-wrapper {
        width: 80%;
    }
}

.view-id-featured_content .node--view-mode-featured img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}


/*load more button*/
.loader {
  color: #ffffff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.region-content-baseline {
    margin-top: 30px;
}
/*webform*/
.form-group,
#ajax-wrapper,
#ajax-wrapper--2 {
    margin-bottom: 30px;
}
.contact-form,
.webform-submission-form {
    max-width: 850px;
    margin: 0 auto;
}
.btn-default {
    color: #000;
}
#edit-name-title {
    display: flex;
} 
#edit-name-title legend {
    margin: 0;
}
.form-composite legend {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

/*resources node*/
.node--type-resource.node--view-mode-full .field--name-field-category {
    border-bottom:2px solid #277cde;
    margin: 0;
    display: flex;
    font-family: niveau-grotesk, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 500;
}
.node--type-resource.node--view-mode-full h1 {
    max-width: 850px;
    margin: 0 auto 50px;
}
.node--type-resource.node--view-mode-full .bs-region--top .tag-wrapper {
    position: relative;
    margin-bottom: 50px;
}
.node--type-resource.node--view-mode-full .field--name-field-category:before {
    content: '\f02c';
    font-family: fontAwesome;
    color: #277cde;
    display: block; 
    padding-right: 5px;
}
.node--type-resource.node--view-mode-full .field--name-field-category .field--item:first-child:after {
    content: ',';
    display: inline;
} 
.node--type-resource.node--view-mode-full .field--name-bundle-fieldnode {
    background:#277cde;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: niveau-grotesk, sans-serif;
    font-weight: 500;
    z-index: 800;
    display: inline-block;
    position: absolute;
    padding: 5px;
    font-size: 12px;
    left: 0;
}
@media screen and (min-width:940px) {
    .node--type-resource.node--view-mode-full .field--name-bundle-fieldnode {
        transform: rotate(-270deg);
        position: absolute;
        font-size: 12px;
        top: 89px;
        padding: 5px 10px;
        width: 145px;
        text-align: right;
        left: -59px;
    }
}

/*news node*/
.bs-region--top .field--name-node-post-date {
    text-align: center;
}
.node--type-article.node--view-mode-full .bs-region--top {
    padding: 0 20px;
}
.node--type-article.node--view-mode-full .bs-region--top:after {
    background: #277cde;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
}
.node--type-article.node--view-mode-full .bs-region--main .field--name-field-media-image {
    max-width: 800px;
    margin: 30px auto;
}
.node--type-article.node--view-mode-full .bs-region--main .field--name-field-media-image img {
    width: 100%;
    margin: 0 auto;
}